#inner-content {
    margin-top: 50px;
}

.mainSection {
    margin-left: 300px;
    padding: 30px;
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
}

@media (max-width: 992px) {
    .mainSection {
        margin-left: 0px;
        -webkit-transition: margin-left .5s;
        transition: margin-left .5s;
    }
}